<h2>
  Structure mapper view:
</h2>

<div class="flex">
  <ul class="container" dragula="NODES" [(dragulaModel)]="sourceList">
    <li *ngFor="let child of sourceList">
      <app-node [node]="child" #sourceRef></app-node>
    </li>
  </ul>
  <!-- <ul>
    <li>
      <app-node class="container" [node]="target.root" [allLinks]="testLinks" dragula="NODES" [(dragulaModel)]="target.root"></app-node>
    </li>
  </ul> -->
</div>

<!-- <p>Source structure:</p> -->
<!-- <app-node [node]="source.root" [allLinks]="testLinks"></app-node> -->


<!-- <p>Target structure:</p> -->
<!-- <app-node [node]="target.root" [allLinks]="testLinks"></app-node> -->