* {
    box-sizing: border-box;
  }
  
  h3, h3 code {
    font-size: 20px;
  }
  
  .flex {
    display: flex;
    padding: 8px;
    background: rgba(255, 255, 255, 0.4);
  }
  
  .container {
    flex: 1;
  }
  .container:not(:last-child) {
    margin-right: 8px;
  }

  
  a:link, a:visited, a:hover, a:active { color: lightblue; }